.container {
  position: absolute;
  width: 100vw;
  height: 120vh;
  max-width: 120vmin;
  max-height: 120vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.particles-js-canvas-el {
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 100%;
  right: 100%;
}

.moko-404__a{fill:#5aaf23}
.moko-404__b{fill:#70cf32}
.moko-404__c{fill:#8fea54}
.moko-404__d{fill:#f4f4f5}
.moko-404__e{fill:#e3e3e5}
.moko-404__f{fill:#1d3760}
.moko-404__g{fill:#1c4561}
.moko-404__h{fill:#61b729}
.moko-404__i{fill:#5bc92d}
.moko-404__j{fill:#6fd5d9}
.moko-404__k{fill:#2d3033}
.moko-404__l{fill:#6c7279}
.moko-404__m{fill:#163056}
